/*For-dessktop*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
 /*navbar Design Start*/
.nav-logo{
    text-align: left;
    

}
.nav-heading h1{
    text-align: right;
}
.nav-menu{
    flex-direction: row;
    justify-content: flex-end;
}
.nav-menu a{
    padding: 5px 10px;
    margin: 20px 0px;
    background-color: transparent;

}
/*navbar design End */

/*Profile Design Start */

.profile .top_weather_icon{

    right: 100px;
    top: 20px;
    height: 8rem;
    width: 8rem;
    
    transition: height 2s, width 2s,transform 2s;
 }
  .profile .top_weather_icon:hover{
    transform: rotate(360deg);
    width: 10rem;
    height: 10rem;
 }


.profile .bottom_weather_icon{

    left: 100px;
    bottom: 10px;
    height: 8rem;
    width: 8rem;
    
    transition: height 2s, width 2s,transform 2s;
 }
  .profile .bottom_weather_icon:hover{
    transform: rotate(360deg);
    width: 10rem;
    height: 10rem;
 }

 .profile::after{
    content: '';
    clear: both;
    display: table;
 }

/*Profiled design end*/

/*personal- Experince */
.personal-experience{
    padding: 1% 5%;
}

/*Achivment Start Here*/
.contact{
    padding-right: 50px;
}
.contact button{

    width: 150px;
}
.contact-link{
    position: relative;
}
.media-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top: 200px;
}

.footer-menu{
    margin-top: 12px;

}
.footer-menu a{
    display: inline;
    margin: 10px;
    
}